* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #FAFACB;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background: #333;
}

.navbar .logo i {
  color: #fff;
  font-size: 48px;
}

.navbar .links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.navbar .links a:hover {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #752E2E;
  padding-bottom: 10px;
  padding-top: 10px;

  background: linear-gradient(to right, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100%), url(images/code-02);
  background-repeat: no-repeat;

  /* background-image: linear-gradient(to right, #752E2E, #752E2E);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 30% 4px;
  transition: background-size .5s ease; */
}

p {
  font-size: 14px;
}

button {
  padding: 10px;
  border: solid 2px #111;
  margin-top: 20px;

  border-radius: 10px;
}