.card-container {
  width: 1044px;
  height: 108px;
  margin-left: calc(118px + 4rem);
  padding: 12px;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #C4C4C4;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container .card-content {
  width: 100%;
  display: flex;
}

.card-content div {
  width: 25%;
}

.card-container h4 {
  margin-bottom: .7rem;
  color: var(--color-black-54);
  font-size: 14px;
  line-height: 17px;
}

.card-container p {
  color: var(--color-black-87);
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}