button {
  width: 136px;
  height: 49px;
  background: #FFFFFF;
  border: 1px solid var(--color-black-54);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--color-black-54);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

button:hover {
  background: #eeeeee;
}