.new-modal-content {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-modal-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-modal-form h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--color-black-54);
}

.new-modal-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.add-interessados {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.new-modal-content .btn {
  align-self: flex-end;
  justify-self: flex-end;
}