.card-container {
  max-width: 1044px;
  min-height: 108px;
  margin-left: calc(118px + 4rem);
  margin-bottom: 1rem;
  padding: 12px;
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #C4C4C4;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.processes-cards .clicked {
  align-items: flex-start;
}

.card-container .card-content {
  width: 100%;
}

.card-content div {
  width: 25%;
  display: inline-block;
}

.clicked .card-content div {
  width: 50%;
}

.card-container h4 {
  margin-bottom: .7rem;
  color: var(--color-black-54);
  font-size: 14px;
  line-height: 17px;
}

.clicked h4 {
  margin-bottom: 0;
}

.card-container p {
  color: var(--color-black-87);
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 980px) {
  .card-container {
    margin: 0 10px;
    margin-bottom: 1rem;
  }
  .card-container .card-content {
    justify-content: space-between;
    width: 70%;
    gap: 10px;
  }
  .card-content div {
    width: 100%;
  }
  .card-container h4 {
    margin-bottom: 0;
  }
  .card-container .card-content .descricao,
  .card-container .card-content .interessado {
    display: none;
    width: 0;
    height: 0;
  }
  .clicked {
    display: none;
    width: 0;
    height: 0;
  }

}