header {
  padding: 2rem;
  display: flex;
  align-items: center;
}

header p {
  font-size: 20px;
  line-height: 24px;
  width: 118px;
  height: 49px;
}

header .input-container {
  margin: 0 2rem;
}

.processes-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.search-result {
  text-align: center;
}

.processes-cards {
  width: 100%;
}

.processes-details {
  width: 100%;
}

@media (max-width: 980px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
}