.process-details-container {
  min-width: 800px;
  margin-right: 40px;
  padding: 1rem;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.process-details-container header {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.process-details-container .header-content {
  width: 100%;
  margin-left: 20px;
}

.process-details-container h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-black-54);
  margin-bottom: 5px;
}

.process-details-container .header-content p {
  width: 100%;
  height: 100%;
  color: var(--color-black-87);
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.process-details-container .processo,
.process-details-container .data {
  width: 50%;
  display: inline-block;
  margin-bottom: 13px;
}

.process-details-container header .assunto {
  width: 100%;
  margin-bottom: 0;
}

.process-details-container .process-details-interessados ul {
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 20px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black-87);
}

.process-details-container .process-details-interessados li {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.process-details-container .process-details-descricao {
  margin-top: 20px;
}

.process-details-container .process-details-descricao {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}