.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 10rem;
}

.container h1 {
  margin: 1rem;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: var(--primary-color);
}

.container .input-container {
  justify-content: center;
}

.container p {
  margin: 4rem 0;
  color: var(--color-black-87);
  text-align: center;
}