* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F7;
  color: #444;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  min-height: 8vh;
  background: #5d4954;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.22);
}

nav .nav-container {
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .burger {
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background: rgb(226, 226, 226);
  margin: 5px;
}

nav .logo {
  margin: 5px;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

nav .nav-links {
  z-index: -100;
  position: absolute;
  left: 0px;
  height: 92vh;
  top: 8vh;
  width: 15%;
  background: #5d4954;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

nav .nav-active {
  transform: translateX(0%);
}

.card-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.card-content {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  background: #FFF;
  border-radius: .5rem;
  justify-self: center;
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.22);
}

.card-content h1 {
  color: #444;
}

.task-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-box {
  margin-right: 11px;
  width: 18px;
  height: 18px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.checkbox-container input:hover ~ .check-box {
  background: rgba(0,0,0,0.1);
}
.checkbox-container input:hover ~ .check-box svg {
  opacity: 1;
}
.checkbox-container input:hover ~ .check-box svg path{
  fill: #999;
}
.checkbox-container input:checked ~ .check-box {
  background: #999;
}
.checkbox-container input:checked ~ .check-box svg {
  opacity: 1;
}
.checkbox-container input:checked ~ .check-box svg path{
  fill: #fff;
}

.check-box svg {
  width: 18px;
  height: 18px;
  margin-left: -6px;
  margin-top: -6px;
  opacity: 0;
  transition: opacity .15s cubic-bezier(.4,0,1,1);
}

.task-title {
  cursor: pointer;
}

.new-task {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.new-task:hover {
  color: #de4c4a;
  font-weight: bold;
}

.add-button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  margin-right: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.new-task:hover .add-button {
  border: 1px solid #de4c4a;
  background-color: #de4c4a;
}

.add-button i {
  color: #de4c4a;
  font-size: 20px;
}

.new-task:hover i {
  color: #fff;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#addTaskModal.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  width: 30%;
  border-radius: .5rem;
}

.close {
  color: #aaa;
  top: 0;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: .5rem 0;
}

.modal-content .modal-form {
  margin-top: 1rem;
}

.modal-content .modal-form input {
  padding: .3rem .5rem;
  height: 2rem;
  border: 1px solid #E6E6F0;
  border-radius: .5rem;
  background-color: #FAFAFC;
}

.modal-content .modal-form button {
  margin-left: .5rem;
  display: inline-block;
  padding: .3rem .5rem;
  height: 2rem;
  border-radius: .5rem;
  border: 1px solid #E6E6F0;
  cursor: pointer;
}

.modal-content .modal-form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  nav {
    min-height: 8vh;
  }
  nav .nav-container {
    padding: 0 1rem;
  }
  .card-container {
    max-width: 90vw;
  }
}