* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F7;
  color: #444;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
}

input {
  padding: .3rem .5rem;
  height: 2rem;
  border: 1px solid #E6E6F0;
  border-radius: .5rem;
  background-color: #FAFAFC;
}

 button {
  margin-left: .5rem;
  display: inline-block;
  padding: .3rem .5rem;
  width: 6rem;
  height: 2rem;
  color: #333;
  font-size: 14px;
  background-color: rgb(239, 239, 239);
  border-radius: .5rem;
  border: 1px solid #E6E6F0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(223, 223, 223);
}

nav {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  min-height: 8vh;
  background: #5d4954;
  font-family: 'Poppins', sans-serif;
}

nav .nav-container {
  z-index: 2;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.22);
}

nav .burger {
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background: #E2E2E2;
  margin: 5px;
}

nav .search {
  display: flex;
  align-items: center;
}

nav .nav-search {
  display: none;
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 5px;
  color: #E2E2E2;
  text-transform: lowercase;
  font-size: 24px;
}

nav .logo img {
  height: 30px;
}

nav .nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  height: 92vh;
  top: 8vh;
  width: 15%;
  background: #5d4954;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

nav .nav-links li {
  padding-left: 2rem;
  margin-top: 2rem;
  list-style: none;
}

nav .nav-links a {
  color: #E2E2E2;
  text-decoration: none;
  margin-bottom: .5rem;
  cursor: pointer;
}

nav .nav-links a:hover {
  border: 0 solid #E2E2E2;
  border-bottom-width: 2px;
}

nav .nav-active {
  transform: translateX(0%);
}

.card-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.card-content {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  background: #FFF;
  border-radius: .5rem;
  justify-self: center;
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.22);
}

.card-content h1 {
  color: #444;
}

.task-container {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-box {
  margin-right: 11px;
  width: 18px;
  height: 18px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.checkbox-container input:hover ~ .check-box {
  background: rgba(0,0,0,0.1);
}
.checkbox-container input:hover ~ .check-box svg {
  opacity: 1;
}
.checkbox-container input:hover ~ .check-box svg path{
  fill: #999;
}
.checkbox-container input:checked ~ .check-box {
  background: #999;
}
.checkbox-container input:checked ~ .check-box svg {
  opacity: 1;
}
.checkbox-container input:checked ~ .check-box svg path{
  fill: #fff;
}

.check-box svg {
  width: 18px;
  height: 18px;
  margin-left: -6px;
  margin-top: -6px;
  opacity: 0;
  transition: opacity .15s cubic-bezier(.4,0,1,1);
}

.task-title {
  cursor: pointer;
}

.task-container i {
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

.task-container i:hover {
  color: #de4c4a;
  cursor: pointer;
}

.new-task {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.new-task:hover {
  color: #de4c4a;
  font-weight: bold;
}

.add-button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  margin-right: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.new-task:hover .add-button {
  border: 1px solid #de4c4a;
  background-color: #de4c4a;
}

.add-button i {
  color: #de4c4a;
  font-size: 20px;
}

.new-task:hover i {
  color: #fff;
}

.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#addTaskModal.visible {
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  width: 30%;
  border-radius: .5rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close {
  padding-bottom: .2rem;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-header .close:hover,
.modal-header .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header .modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: .5rem 0;
}

.modal-content .modal-form {
  margin-top: 1rem;
}

.modal-content .modal-form .input-validation:focus {
  outline: 1px auto #de4c4a;
}

.modal-content .modal-form button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-content .validation {
  margin-top: 2rem;
  font-size: 14px;
  color: #de4c4a;
  opacity: 0;
  overflow: hidden;
  width: 0px;
  height: 0px;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

.modal-content .visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

@media (max-width: 768px) {
  nav {
    min-height: 8vh;
  }
  nav .nav-container {
    padding: 0 1rem;
  }
  nav .nav-links {
    height: 93vh;
    top: 7vh;
    width: 50%;
  }
  nav .search {
    display: none;
  }
  nav .nav-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .nav-search input {
    margin-top: 2rem;
    width: 10rem;
  }
  nav .nav-search button {
    margin: 0;
    margin-top: .5rem;
    width: 10rem;
  }
  .card-container {
    max-width: 90vw;
  }
  .modal-content {
    width: 80%;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form input {
    display: block;
    width: 100%;
    height: 2.5rem;
    font-size: 14px;
  }
  .modal-form button {
    margin: 0;
    margin-top: 1rem;
    display: block;
    height: 2.5rem;
    align-self: flex-end;
  }
}